.cta-container {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.cs-cta {
  display: block;
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 16px;
  background: transparent;
  border: 2px solid #eb5646;
  background: #eb5646;
  max-width: 300px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.335, 0.815, 0.47, 1);
  transition-delay: 0s;

  text-align: center;
  padding: 15px;

  border-radius: 8px;
  text-decoration: none;
  color: white;
}

.image-container {
  width: 80%;
  height: auto;
  margin: 30px auto;
  padding: 20px;
}

.quiz-image {
  width: 40%;
  height: auto;
  border-radius: 25px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: block;
  margin: 5px auto;
}
